@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	display: block;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	font-style: normal;
}



.title {
	text-align: center;
	width: 1280px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu {
	list-style: none;
	display: inline-flex;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 18px;
	padding: 25px;
}

.menu-text {
	color: rgba(255, 0, 0, 1);
	font-weight: bold;
	text-decoration: none;
	margin-left: 40px;
	margin-right: 40px;
	letter-spacing: 2.7px;
}

.headline {
	text-align: center;
	width: 1280px;
	font-size: 22px;
	color: rgba(55, 55, 55, 1);
	margin-top: 40px;
	margin-bottom: 30px;
	letter-spacing: 3.3px;
}

.text {
	width: 1145px;
	font-size: 16px;
	text-align: center;
	margin-left: 67.5px;
	margin-right: 67.5px;
	color: rgba(55, 55, 55, 1);
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 2.4px;
	line-height: 1.6;
}

.button-centre {
	width: 1280px;
	text-align: center;
	margin-top: 60px;
}

.button {
	background-color: rgba(255, 0, 0, 1);
	color: aliceblue;
	border: rgba(255, 0, 0, 1);
	min-height: 50px;
	min-width: 200px;
	font-size: 12px;
	border-radius: 5px;
	letter-spacing: 3px;
}

.footer-text {
	display: block;
	color: rgba(55, 55, 55, 1);
	font-size: 16px;
	font-weight: 600;
	text-align: right;
	margin-top: 60px;
	margin-bottom: 29px;
	margin-right: 100px;
	letter-spacing: 2px;
}